body {
	font-family: "Segoe UI", Arial, sans-serif;
}

.flex {
	display: flex;
}

.hero,
.form-bg {
	height: 100svh;
}

.hero,
.hero-text {
	justify-content: center;
}

.hero {
	position: relative;
	width: 41svw;

	background-image: url(img/bg.jpg);
	background-position: 25% 65%;
	background-size: auto;
	background-repeat: no-repeat;
}

.hero-text {
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	position: absolute;
	width: 100%;
	top: 25%;
	text-align: center;
}

.hero-text > img {
	width: 15rem;
	margin-bottom: 2rem;
	filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 0.205));
}

.hero-text > h1 {
	color: white;
	font-size: 8rem;
	font-weight: 700;
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.205);
}

.hero-text > p {
	width: 60%;
	color: white;
	font-size: 2rem;
	font-weight: 400;
	text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.205);
}

.form-bg {
	flex: 1;
	justify-content: center;
	align-items: center;

	background-color: lightgray;
	box-shadow: -5px 0 25px rgba(0, 0, 0, 0.205);
	z-index: 1;
}

.form-card {
	width: 60%;
	height: 70%;
	background-color: white;
	border-radius: 2%;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.205);
}
